.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputs {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: grey;
  padding: 0;
  vertical-align: middle;
}

.input-box {
  width: 90%;
  height: 50px;
}

.input-button {
  width: 9%;
  height: 50px;
}

.messages {
  position: fixed;
  bottom: 50px;
  top: 0;
  left: 0;
  right: 0;
  background-color: antiquewhite;
  overflow-y: scroll;
}

.message {
  color: white;
  margin: 10px;
  width: 300px;
  min-height: 80px;
  padding: 10px;
  border-radius: 10px;
}

.message:nth-child(odd) {
  background-color: green;
  float: left;
  clear: both;
}

.message:nth-child(even) {
  background-color: red;
  float: right;
  clear: both;
}
