.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.inputs {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: grey;
  padding: 0;
}

.input-box {
  width: 100%;
  height: 50px;
}

.input-button {
  width: 100%;
  height: 50px;
}

.messages {
  position: fixed;
  bottom: 50px;
  top: 50px;
  left: 0;
  right: 0;
  background-color: #282c34;
  overflow-y: auto;
}

.bubble {
  width: 60%;
  margin: 10px;
}

.left-bubble {
  float: left;
  clear: both;
}

.right-bubble {
  float: right;
  clear: both;
}
