.inputs {
  position: fixed;
  bottom: 0;
  left: 300px;
  right: 0;
  height: 50px;
  padding: 0;
}

.titlebox {
  position: absolute;
  left: 300px;
  right: 0;
  top: 50px;
  height: 50px;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sidebar {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  width: 300px;
  background-color: #1d2025;
  color: white;
}

.input-box {
  width: 100%;
  height: 50px;
  padding: 10px;
}

.input-button {
  width: 100%;
  height: 50px;
}

.messages {
  position: fixed;
  bottom: 50px;
  top: 100px;
  left: 300px;
  right: 0;
  background-color: #282c34;
  overflow: scroll;
}

.bubble {
  width: 65%;
  margin: 10px;
}

.left-bubble {
  float: left;
  clear: both;
}

.right-bubble {
  float: right;
  clear: both;
}
